<div class="container about-page-container">
    <div class="row about-page-header">
        <div >
            <!--Column one-->
        </div>
    </div>
    <div class="row intro-section">
        <div class="a col-sm-3 col-md-2">
            <!--Column one-->
           <div>
               column 1
           </div>
        </div>
        <div class="b col-sm-9 col-md-8">
            <!--Column two-->
           <div>
               <canvas id="cv-canvas">
               </canvas>
           </div>
        </div>
        <div class="c col-sm-12 col-md-2">
            <!--Column three-->
           <div >
               column 3
           </div>
        </div>
    </div>
</div>